* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ed553b;
  --black-color: #121212;
  --white-color: #ffffff;
  --grey-color: #72717b;
  --background-orange: #f7f6f4;
}

body {
  font-family: "General Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

ul {
  list-style: none;
}

/* Header Style */

.header {
  width: 100%;
  background-color: var(--background-orange);
}

.navbar {
  padding: 50px 0 120px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.7px;
}

.navbar .main-menu ul {
  display: flex;
  gap: 40px;
}

.navbar .main-menu ul li a {
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: -0.7px;
  display: block;
  transition: 0.5s;
}

.navbar .main-menu ul li a:hover {
  color: var(--primary-color);
}

.navbar .nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .nav-btn a {
  line-height: 1rem;
  letter-spacing: -0.7px;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0 0 100px 0;
}

.hero .hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hero .hero-title p {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.hero .hero-title h1 {
  text-align: center;
  width: 60%;
  font-weight: 600;
  font-size: 4rem;
  line-height: 70px;
  letter-spacing: -0.7px;
}

.hero .hero-description {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.7px;
  color: var(--grey-color);
  text-align: center;
  font-weight: 500;
  width: 45%;
}

.hero .hero-btn a {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.7px;
}

/* How it works */
.how-it-work {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-work .how-it-work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.how-it-work .how-it-work-title p {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.how-it-work .how-it-work-title h1 {
  font-size: 62px;
  line-height: 70px;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.how-it-work .how-it-work-service {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.how-it-work .how-it-work-service .how-it-work-service-card {
  display: flex;
  align-items: center;
  gap: 200px;
}

.reverse{
    flex-direction: row-reverse;
}

.reverse .service-text .service-text-title h3{
 width: 90%;
}

.how-it-work .how-it-work-service .how-it-work-service-card .service-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.how-it-work .how-it-work-service .how-it-work-service-card .service-text .service-text-title {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.how-it-work .how-it-work-service .how-it-work-service-card .service-text .service-text-title p{
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -0.7px;
    font-weight: 600;
}

.how-it-work .how-it-work-service .how-it-work-service-card .service-text .service-text-title h3{
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.7px;
    font-weight: 600;
}

.how-it-work .how-it-work-service .how-it-work-service-card .service-text .service-text-description{
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.7px;
    color: var(--grey-color);
    width: 90%;
    font-weight: 500;
}

.how-it-work .how-it-work-service .how-it-work-service-card .service-text .service-text-btn a{
    cursor: pointer;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.7px;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    margin-right: 8px;    
}

.how-it-work .how-it-work-service .how-it-work-service-card .service-text .service-text-btn i{
    color: var(--primary-color);
}



/* Utilities */

.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* Button */
.btn {
  display: block;
  padding: 12px 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.btn-lg {
  display: block;
  padding: 18px 60px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.btn-outline {
  border: 2px solid var(--black-color);
}

.btn-black {
  background-color: var(--black-color);
  color: var(--white-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
